
body{
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(255, 248, 234);
    color: black;
}
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
}
    
.intro-text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}